*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding-block: 4em;
}
.git-banner {
    background: url(../assets/images/bg.png);
    background-repeat: repeat;
}
.git-banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
}
.git-banner-text {
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.git-banner-text span {
    color: #d7834f;
}
.git-banner-image {
    width: 50%;
    height: 40vh;
}
.git-banner-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}